.App {
  text-align: center;

  
}
.mainWindow {
  width: 60%;
  border: 1px solid gray;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  min-height: 400px;
  
}
ul {
  text-align: left;
  list-style-type: none;
  font-weight: 700;
}
li button {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:focus {
  color: red;
}

.Temperature {
  display: flex;
}

.block2, .block1 {
  display: flex;
}

.grey {
  color: grey;
}
