.App {
  text-align: center;
}
.mapOfNav  {
  font-weight: 700;
}
.mapOfNav:hover {
  color: grey;
}
.mainWindow {
  width: 55%;
  border: 1px solid gray;
  margin: 20px auto;
  display: flex;
  border-radius: 20px;
  background-color:azure;
  flex-wrap: nowrap;
  min-height: 400px;
  min-width: 300px;
  
}
ul {
  text-align: left;
  list-style-type: none;
  font-weight: 700;
}
li button {
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
a:focus {
  color: grey;
}

.Temperature {
  display: flex;
}

.block2, .block1 {
  display: flex;
  flex-wrap: wrap;
}

.grey {
  color: grey;
}
